RewriteEngine On
#
##URL Rewriting pour la partie user
#RewriteRule ^signin$ index.php?controller=User&action=AddUser
#RewriteRule ^login$ index.php?controller=User&action=LoginUser
#RewriteRule ^logout$ index.php?controller=User&action=LogoutUser
#RewriteRule ^$ index.php?controller=Livre&action=list
#RewriteRule ^listAdmin$ index.php?controller=Livre&action=listAdmin
#
##URL Rewriting pour la partie admin
#RewriteRule ^admin/modify/([0-9]+)$ index.php?controller=User&action=ModifyAdmin&param=$1
