{% extends"base.html.twig" %}

{% block title %}User - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForAccueil.css">
{% endblock %}

{% block body %}

<p style="text-align: center; font-size:2em; margin: 3em;"> Bienvenue sur BIBLIO </p>
    <img src="/images/bibio.jpg" style="max-width: 90%; height: auto;">
    {% endblock %}


