{% extends"base.html.twig" %}

{% block title %}Ajout Livre - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForBook.css">
{% endblock %}

{% block body %}
<h1>Ajout d'un livre</h1>

<form class="form-horizontal" name="AddBook" method="post" action="?controller=Livre&action=AddBook">
    <fieldset>
        <div class="form-group p-2">
            <div class="col-lg-10">
                <input id="Titre" class="form-control" type="text" name="titre" placeholder="Titre" required>
            </div>
        </div>
        <div class="form-group p-2">
            <div class="col-lg-10">
    <input id="Auteur" class="form-control" type="text" name="auteur" placeholder="Auteur">
            </div>
        </div>
        <div class="form-group p-2">
            <div class="col-lg-10">
    <input id="Editeur" class="form-control" type="text" name="editeur" placeholder="Editeur">
            </div>
        </div>
        <div class="form-group p-2">
            <div class="col-lg-10">
    <input id="Nb_pages" class="form-control" type="number" name="nb_pages" placeholder="Nombre de pages" required>
            </div>
        </div>
        <div class="form-group p-2">
            <div class="col-lg-10">
    <input id="Date_publication" class="form-control" type="date" name="date_publication" placeholder="Date de Publication">
            </div>
        </div>

            <div class="form-group p-2">
                <div class="col-lg-10">
                <input class="form-control" type="file" name="livre_image" id="formFile">
                </div>
            </div>

    <input type="submit" class="btn btn-primary m-2" value="Ajouter">
        </fieldset>
    </form>
    {% endblock %}

