<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
    {% block css %}{% endblock %}

    <title>{% block title %}BIBLIOTHEQUE {% endblock %}</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BIBLIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="?controller=livre&action=index">Accueil
{#                        <span class="visually-hidden">(current)</span>#}
                    </a>
                </li>
                <li class="nav-item">
                    {% if session  == 0 %}
                    <a class="nav-link" href="?controller=livre&action=list">Livres</a>
                    {% else %}
                    <a class="nav-link" href="?controller=livre&action=listAdmin">Livres Admin</a>
                    {% endif %}
                </li>
            </ul>
{#            <form class="d-flex">#}
{#                <input class="form-control me-sm-2" type="text" placeholder="Login">#}
{#                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>#}
                {% if isOnline == false %}
                <button class="btn btn-secondary my-2 my-sm-0" onclick="window.location.href= '/?controller=User&action=LoginUser'">Login</button>
                {% else %}
                <button class="btn btn-secondary my-2 my-sm-0" onclick="window.location.href= '/?controller=User&action=LogoutUser'">Logout</button>
                {% endif %}
            {#            </form>#}
        </div>
    </div>
</nav>
<div class="container">

    {% block body %}{% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
{% block script %}{% endblock %}
</body>
</html>